﻿@using (Html.BeginForm("GetCountryByIp", "Home", FormMethod.Post))
{
<p>Введите ip адрес в формате XXX.XXX.XXX.XXX</p>
@Html.TextBox("ipCheck", "XXX.XXX.XXX.XXX")
<p/>
<p><input type="submit" value="Отправить" /></p>
}